<div class="center four columns offset-by-five">
  <div class="two columns offset-by-one"><a href="/contact"><img class="scale with grid" src="chuck_rea.jpg" height="200px"></a></div>
<div class="content four columns">
<h2>chuck rea</h2>
</div>
<ul>
<li class="three columns offset-by-two"><h4>movies</h4></li>
<li class="three columns offset-by-two"><h4>theater</h4></li>
<li class="three columns offset-by-two"><h4>80's hair bands</h4></li>
<li class="three columns offset-by-two"><h4>ruby</h4></li>
</ul>

</div>